.acceuil-banner{
    margin-top: 5%;
    text-align: center;
}

.img-banner{
    width: 90%;
}

.logement-list {
	list-style-type: none;
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
	max-width: 800px;
}

.logement-item {
	margin: 10px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	text-transform: capitalize;
}
