.Footer{
    background-color: black;
    margin-left: -1%;
    width: 99%;
    text-align: center;
}

.img-footer{
    width: 10%;
    margin-top: 3%;
}

.Titre{
    color: white;
    font-size: 20%;
}