.Footer{
    background-color: black;
    width: 99%;
    text-align: center;
    position: absolute;
}

.img-footer{
    width: 10%;
    margin-top: 5%;
}

.Titre{
    color: white;
    font-size: 90%;
}