.Footer{
    background-color: black;
    width: 100%;
    text-align: center;    
}

.img-footer{
    width: 10%;
    margin-top: 5%;
}

.Titre{
    color: white;
    font-size: 90%;
}

@media screen and (max-width: 767px) {

    .img-footer {
        width: 30%;
        margin-top: 5%;
    }

    .Titre {
        font-size: 69%;
        padding-bottom: 8%;
    }

}