.loge-info{
    display: flex;
    margin-left: 5%;
    margin-bottom: 2%;
}

.loge-titre {
    margin-right: auto;
    color: #FF6060;
    width: 76%;
}

.loge-titre p, .loge-titre h1 {
    margin-top: 0%;
    margin-bottom: 0%;
}

.loge-nom{
    display: flex;
    margin-top: -1%;
    margin-right: 5%;
    color: #FF6060;
    height: 52%;
    width: 100%;
    margin-left: 0%;
}

.loge-nom p{
    width: 40%;
    margin-left: 10%;
    font-size: 110%;
    margin-right: -8%;
    height: 87px;
}

.loge-nom img{
    width: 29%;
    height: 87%;
    border-radius: 40px;
    margin: inherit;
}


.tag{
    margin-right: auto;
    display: flex;
    width: 100%;
    padding: 0%;
    flex-wrap: wrap;
    margin-top: 3%;
}

.tag li {
    color: white;
    list-style-type: none;
    margin-right: 3%;
    background-color: #FF6060;
    padding: 1% 4% 1% 4%;
    border-radius: 10px;
}

.loge-collaspe{
    display: flex;
}

.loge-collaspe .propos-cart-closed{
    margin-bottom: 3%;
    width: 100%;
}

.loge-collaspe .propos-cart-toggle-button {
    width: 80%;
}

.loge-collaspe h2 {
    color: #FF6060;
    background-color: #F6F6F6;
    margin: auto;
    width: 74%;
    font-size: 100%;
    padding: 3%;
}

.rating{
    margin: auto;
    margin-right: 18%;
    width: 73%;
    margin-top: 3%;

}

.rating img {
    width: 15%;
    margin-right: 2%;
}

.loge-collaspe img{
    width: 5% !important;
    margin-top: 3.5% !important;
}

.listeequipement li{
    list-style-type: none;
}

.listeequipement {
    padding: 0%;
    margin: 0%;
}


@media screen and (max-width: 767px) {

    .loge-info{
        display: block;
        margin-left: 5%;
        margin-bottom: 2%;
    }

    .loge-titre {
        margin-right: auto;
        width: 96%;
    }

    .loge-classement{
        display: flex;
        flex-direction: row-reverse;
    }

    .loge-nom p {
        width: 36%;
        margin-left: 20%;
        font-size: 80%;
    }


    .loge-nom {
        margin-top: -1%;
        margin-right: 0%; 
        height: 65%;
        width: 100%;
        margin-left: 3%;
        align-items: center;
    }

    .tag li {
        font-size: 69%;
        margin-bottom: 3%;
    }

    .loge-nom img {
        width: 21%;
        height: 81%;
    }

    .tag{
        width: 80%;
        padding: 0%;
        flex-wrap: wrap;
    }

    .loge-collaspe {
        display: flex;
        flex-direction: column;
    }

    .loge-collaspe .propos-cart-toggle-button {
        width: 91%;
        align-items: baseline;
    }

    .loge-collaspe h2 {
        width: 85%;
        font-size: 81%;
        padding: 3%;
    }

    .loge-collaspe img {
        width: 6% !important;
        margin-top: 0% !important;
    }

    .loge-titre h1 {
        font-size: 125%;
    }
    
    
}
  
