.background_propos{
    background-image: url("../assets/Background_propos.png");
    height:223px;
    margin: auto;
    width: 86%;
    background-repeat: no-repeat;
    margin-bottom: 5%;
    border-radius: 25px;
}

.propos-cart{
   width: 100%; 
}

.collapse{
    width: 90%;
    margin: auto;
    margin-bottom: 10%;
}

.propos-cart-toggle-button{
    display: flex;
    width: 75%;
    background-color: #FF6060;
    border: none;
    margin: auto;
    border-radius: 5px;
    align-items: baseline;
}

.propos-cart-toggle-button img{
    margin-left: auto;
    margin-right: 3%;
    width: 2%;
}

.propos-cart-toggle-button h1{
    color: white;
    font-size: 132%;
    margin-left: 2%;
}

.collapse h2{
    color: #FF6060;
    background-color: #F6F6F6;
    margin: auto;
    width: 71%;
    font-size: 124%;
    padding: 2%;
}

.propos-cart, .propos-cart-closed{
    margin-bottom: 3%;
}

@media screen and (max-width: 767px) {

    .background_propos{
        background-image: url("../assets/Background_propos_m.png");
        height: 224px;
        margin: auto;
        width: 90%;
        background-repeat: no-repeat;
        margin-bottom: 5%;
        border-radius: 10px;
    }
    
    .propos-cart-toggle-button {    
        width: 100%;
        height: 30px;
        align-items: center;
    }

    .propos-cart-toggle-button img {
        width: 6%;
        margin-top: 0%;
    }

    .propos-cart, .propos-cart-closed {
        margin-bottom: 6%;
    }

    .propos-cart-toggle-button h1 {
        font-size: 90%;
    }
    
    .collapse h2 {
        width: 97%;
        font-size: 76%;
        border-radius: 5px;
        padding: 5% 0% 15% 3%;
    }
}